.banner-img img{
    width: 100% ;
    height: 60% ;
}
.team-description{
    margin : 0 60px ;
}
.team-info{
    margin : 0 60px ;
    background-color: rgb(35, 35, 199);
    color: white ;
    padding: 10px ;
    border-radius: 5px;
}
.team-info{
    display: flex ;
}
.team-info img{
    height: 200px;
    width: 300px ;
    margin-left: 450px;
}